<div class="card" style="width: 18rem;">
  <a href="/pages/{{ card.name }}">
    <img id="img-{{ card.name }}" class="card-img-top" alt="{{ card.name }}">
  </a>
  <div class="card-body">
    <p class="card-text">{{ card.name }}</p>
  </div>
</div>
